<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CheekyMart</title>
        <link rel="logo" type="image/x-icon" href="static/images/logo.jpg">
        <link href="{{ url_for('static', filename='loginstyle.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='scripts/script.js') }}" defer></script>
    </head>

    <body>
        <div class="login-container">
            <div class="login-box">
                <form>
                    <h2>Sign into CheekyMart!</h2>
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="Email" required>
                    
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="Password" required>
                    
                    <button type="submit">Sign In</button>
                    <div class="link">
                        <a href="home">Continue without logging in</a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>