<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheekyMart</title>
    <link rel="logo" type="image/x-icon" href="static/images/logo.jpg">
    <link href="{{ url_for('static', filename='loginstyle.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='scripts/script.js') }}" defer></script>
</head>
<body>
    <header>
        <div class="logo">
            <img class="logo" src="static/images/logo.png" alt="logo" width="150" height="200">
        </div>
        <nav>
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="search">Search</a></li>
                <li><a href="products">Products</a></li>
                <li><a href="account">Account</a></li>
                <li><a href="cart" class="cart-button">Cart</a></li>
            </ul>
        </nav>
    </header>
    <div class="login-container">
        <div class="login-box">
            <form method="POST" action="/register">
                <h2>Register for CheekyMart!</h2>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required>

                <label for="firstname">First Name</label>
                <input type="text" id="firstname" name="first_name" placeholder="First Name" required>

                <label for="lastname">Last Name</label>
                <input type="text" id="lastname" name="last_name" placeholder="Last Name" required>

                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" required>

                <label for="phone">Phone Number</label>
                <input type="tel" id="phone" name="phone" placeholder="Phone Number" pattern="[0-9]{3}[- ]?[0-9]{3}[- ]?[0-9]{4}" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required>

                <button type="submit">Register</button>
            </form>
        </div>
    </div>
</body>
</html>