<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CheekyMart</title>
  <link rel="logo" type="image/x-icon" href="images/logo.jpg">
  <link href="{{ url_for('static', filename='searchstyle.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='homestyle.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='scripts/script.js') }}" defer></script>
</head>

<header class="navbar">
  <div class="logo">
    <a href="home">
      <img src="static/images/logo.png" alt="CheekyMart Logo">
    </a>
  </div>
  <nav>
    <ul class="nav-links">
      <li><a href="home" class="nav-link active">Home</a></li>
      <li><a href="search" class="nav-link">Search</a></li>
      <li><a href="products" class="nav-link">Products</a></li>
      <li><a href="account" class="nav-link">Account</a></li>
      <li><a href="cart" class="nav-link cart-button">Cart</a></li>
    </ul>
  </nav>
</header>

<body>

  <div class="hero-section">
    <h1>Find Everything You Need!</h1>
    <p>Browse through our wide range of products and departments.</p>
  </div>
  
  <!-- Search Bar -->
  <div class="search-container">
    <form action="{{ url_for('search') }}" method="POST">
      <input type="text" name="search" placeholder="Search products..." required>
      <button type="submit">Search</button>
    </form>
  </div>

  <!-- Departments Section -->
  <div class="container">
    <h1>Departments</h1>
    <p>Click on a department to view items.</p>
    <div class="departments">
      <a href="products?category=Bakery"><button>Bakery</button></a>
      <a href="products?category=Dairy"><button>Dairy</button></a>
      <a href="products?category=Fruits"><button>Fruits</button></a>
      <a href="products?category=Vegetables"><button>Vegetables</button></a>
      <a href="products?category=Drinks"><button>Drinks/Coffee/Tea</button></a>
      <a href="products?category=Meat"><button>Meat</button></a>
      <a href="products?category=Non-Dairy"><button>Non-Dairy/Meat Alternatives</button></a>
    </div>
  </div>
</body>


</html>